.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 95vh;
}

.Main__graphs {
  /* display: flex;
  justify-content: space-between; */
  width: 80%;
  padding: 30px 30px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid lightgray;
}

.Main__stats {
  padding: 0 0 5px 0;
}

.Main__getitdone {
  display: flex;
}

.Main__graph {
  width: 30%;
  height: 325px;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.Main__carbon-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.Main__months {
  width: 30%;
  height: 325px;
  padding: 25px 20px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid lightgrey;
}

.Main__months h3 {
  margin-bottom: 10px;
}

.Main__month-chart {
  border: 1px solid lightgrey;
}

.Main__month {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.Main__month:nth-child(even) {
  background-color: #efefef;
}

.Main__month .radio {
  padding: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-right: 1px solid lightgrey;
}

.Main__month p {
  padding: 0 5px;
}

.Main__carbon-offsets {
  width: 65%;
  height: 325px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 25px 20px;
}

.Main__slider {
  width: 100%;
  margin-bottom: 20px;
}

.Main__carbon-facts {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.Main__fact {
  width: 30%;
  font-size: 1.3rem;
  text-align: center;
}

/* --------Media Queries------- */
@media only screen and (max-width: 1500px) {
  .Main__graphs {
    width: 85%;
  }

  .Main__carbon-info {
    width: 85%;
  }

  .Main__months {
    width: 30%;
    height: 300px;
    padding: 25px 20px;
  }

  .Main__month {
    font-size: 1.1rem;
  }

  .Main__month .radio {
    padding: 10px 5px;
    height: 30px;
    width: 30px;
  }

  .Main__carbon-offsets {
    width: 65%;
    height: 300px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 25px 20px;
  }

  .Main__fact {
    font-size: 1.1rem;
  }
}
