.Modal {
  position: absolute;
  top: 100px;
  left: 150px;
  right: 150px;
  bottom: 100px;
  background-color: white;
  outline: transparent;
  border-radius: 15px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  background-color: #D18C29;
  color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 188, 82, 0.337);
  background-color: rgba(255, 255, 255, 0.358);
}

.Modal h2 {
  font-weight: 400;
  font-size: 2rem;
}

.Modal h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 40px 0 20px 0;
}

.Modal__project {
  display: flex;
  justify-content: space-between;
}

.Modal__project-details {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding-right: 50px;
  border-right: 2px solid #efefef;
}

.Modal__para {
  font-size: 1.5rem;
}

.Modal__important-info {
  font-weight: 600;
  font-size: 1.7rem;
}

.Modal__close-div {
  display: flex;
  justify-content: flex-end;
}

.Modal__close {
  font-size: 32px;
  cursor: pointer;
  transition: transform .5s ease;
}

.Modal__close:hover {
  transform: scale(1.2);
}

.Modal__desc {
  font-size: 1.4rem;
}

.Modal__offset {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  text-align: right;
}

.Modal__offset p {
  font-size: 2.5rem;
}

.Modal__btns {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}

.Modal__btns .Modal__cancel,
.Modal__btns .Modal__purchase {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
  transition: .5s ease;
}

.Modal__cancel {
  background-color: rgb(179, 60, 68);
}

.Modal__cancel:hover {
  background-color: rgb(126, 43, 48);
}

.Modal__purchase {
  /* background-color: rgb(60, 179, 113); */
  background-color: #233B3B;
}

.Modal__purchase:hover {
  /* background-color: rgb(39, 116, 74); */
  background-color: rgb(85, 89, 89);
}
